@charset "utf-8";
/*----------------------------------------

----------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;list-style:none;}body{line-height:1;background:#fff;color:#000;}img{vertical-align:bottom;}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}


/*----------------------------------------

----------------------------------------*/

body {
  background: #2c3e50;
  font-family: 'Montserrat Alternates', sans-serif;
}

/*----------------------------------------
  header
----------------------------------------*/
header {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #34495e;
}

h1 {
  font-size: 300%;
  color: #bdc3c7;
}


#color_nav {
  text-align: center;
  margin-top: 20px;
}

#color_nav li {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  padding: 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  font-weight: bold;
  color: #ecf0f1;
}
#color_nav li:hover {
  color: #000;
}

.btn_red {
  background: #c0392b;
}

.btn_green {
  background: #27ae60;
}


.btn_blue {
  background: #2980b9;
}


#columns {
  overflow: hidden;
  padding: 0 15px;
  margin: 30px auto;
}

#columns li {
  float: left;
  width: 200px;
  border: 5px solid #595959;
  background: #95a5a6;
  color: #2c3e50;
}

#columns dl {
  background: #7f8c8d;
}

#columns dt {
  padding: 1em;
  font-weight: bold;
  border-bottom: 1px dashed #95a5a6;
}

#columns dd {
  padding: 1em;
}

#columns .blue {
  border-color: #2980b9;
}

#columns .green {
  border-color: #27ae60;
}

#columns .red {
  border-color: #c0392b;
}
